*, *::before, *::after {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

.done {
    position: relative;
    flex-direction: center;
    padding: 50px;
    margin-top: 20px;
}

 .scores-box {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
  }
  
 
