*, *::before, *::after {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

:root {
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}


body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 180vh;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--hue-), 10hsl(va 0%, 20%)
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px 3px;
}


.scores-box {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 0 10px 3px;
}

.inName{
  position: absolute;
  height: 3%;
  min-width: 3%;
  margin-top: 10px;
  }

  #saveButton{
    position: absolute;
  height: 3%;
  min-width: 3%;
  margin-top: 10px;
  margin-left: 7rem;

  }



.timer {
float: right;
margin-bottom: 70px;
}

.btn-grid {
  display: grid;
  grid-template-columns:repeat(2, auto); 
  gap: 30px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  outline: none;
}

.btn:hover {
  border-color: black;
}

.correct {
  --hue: var(--hue-correct);
  color: black;
}

.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;

}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}