

body {
    flex-direction: column;
    width: initial;
    height: initial;
    width: 800px;
    max-width: 80%;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 0 10px 3px;
    margin-top: 160px;
    margin-left: 300px;
    background-color: r(--hue), 10hsl(va 0%, 20%);
}

ol {
    padding-left: 0;
}

